@charset 'utf-8';

/* Main Style*/
html , body{
    font-family :'Hammersmith One', sans-serif;
    box-sizing: border-box;
}
/* Navbar Style */
.navbar-expand-lg{
    background-color: white !important;

}
.navbar-expand-lg .navbar-brand{
    font-size: 2rem;
    font-weight: bold;  

}
.navbar-expand-lg .nav-item .nav-link{
    padding: 0 12px;
    color:purple;

}
.navbar-expand-lg .nav-item .nav-link:hover{
    transition: border .5s;
    border-bottom: 4px solid purple;
    margin-top: 5px;
}
