@charset 'utf-8';
/* Main Style*/
html , body{
    font-family :'Hammersmith One', sans-serif;
    box-sizing: border-box;
}
/* Navbar Style */
.navbar{
    background-color: black!important;
}
.nav .content.navbar-brand{
    font-size: 3rem;
    font-weight: bold;
}
.navbar-expand-lg .nav-item .nav-link{
    padding: 0 12px;
}
.navbar.content.nav-item .nav-link:hover{
    transition: border .5s;
    border-bottom: 4px solid red;
    margin-top: 5px;
}
.navbar.content.button{
    
    color:white;
}

.navbar button:hover{
    background-color: purple;
    color:white;
    border:2px solid grey;
    border-radius:40%;
}



/*** Show Case 1 Area**/

.showcase{
    background-image:url('../Images/header/head2.jpg');
    height:600px;
    background-size:cover;
    background-position: center;
    background-repeat:no-repeat;
    animation:animate;
    animation-duration: 2s;
    position:relative;
    
}
.showcase .head1{
    padding-top:198px;
}
.showcase.head1.button{
    size:3rem;
    margin-top:20px;
    padding:12px;
    border:1px solid white;
    border-radius:30%;
    }

        .gallery{
        text-align: center;
        
        line-height: 70px;
        }
        .gallery .row i{
            font-size: 80px;
          }
        .gallery.row img{
    
            width: 20rem;
            height: 12rem;
        }
        .gallery.row img{
    
            width: 20rem;
            height: 12rem;
            padding: 40px auto;
            margin-left: 12px;
        }
        .gallery button:hover{
    
         border:1px solid black;
         background-color: white;
        }

        .showcase
            {
            text-align: center;
            }
            .services .row i{
                font-size: 80px;
                }
            .services .row img{
    
                width: 20rem;
                height: 12rem;
            }
            .BigCase{
                display:flex;
                justify-content: right;
            }