@charset "UTF-8";

*, 
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Main Style */
body , html{
    font-family: 'Roboto';
    line-height: 1.8rem;
}
ul , ol{
    list-style: none;
}
a{
    text-decoration: none;
    color:white;
}
/* Utility Classess*/
.container{
    width: 80%;
    margin: 0 auto;
}
.clear{clear: both;}
.text-white{
    color: rgb(250, 229, 229);
}
.bg-dark{
    background-color: black;
}
.text-center{
    text-align: center;
}
/* Navbar Style */
.navbar{
    padding: 16px 0;
}
.navbar .nav-items{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
}
.navbar .nav-items .logo{
    size:100px;
}
.navbar .nav-items .brand a{
    color: yellow;
    font-size: 2rem;
}

.navbar .nav-items .links ul li{
    display: inline-block;
    padding: 0 8px;
}
/*** Show Case 1 Area **/

.showcase1{
    background-image:url('../Images/background.jpg');
    height:600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.showcase1 .content{
    padding-top:195px;
}
.showcase1 .content .showcasetext1{
    font-size:12px;
    color:black;
}
.showcase1 button{
    border:1px solid black;
    background-color:yellow;
}

/**Showcase 2 Area*/

.showcase2
{
    margin-top: 100px !important;
}
.showcase2 h2 
{
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px #2d2d2d;
}
.showcase2 hr{
    width:5px;
    border:2px solid yellow;
   
}
.showcase2 .icon{
    margin-top: 45px;
    color: black;
}
.showcase2 h2{
    margin: 20px 0;
}
.footer{
    background-color: grey;
}
.footer.content.icon{
    color:yellow;
}